#space{
    width: 98.75vw;
    height: 97.75vh;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 1.75em;
    color: black;
}

label{
    color: black;
}

input[type = "text"],input[type = "password"] {
    border: 0;
    background: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 13px 10px;
    width: 200px;
    outline: black;
    color: black;
    border-radius: 13px;
  }

  button[type = "submit"]{
    border: 0;
    background: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: black;
    border-radius: 13px;
    cursor: pointer;
  }

  button:hover{
      background-color: black;
      color: white;
  }

  p{
    font-size: .75em;
    color: black;
  }