<div id="space"></div>
<form class="login" (submit)="login()">
    <h1>Spring ERS Login</h1>
    
    <label for="inputUsername">Username</label>
    <input type="text" id="inputUsername" name= "input-username" placeholder="username" required autofocus [(ngModel)]="credentials.username">

    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" name= "input-password" placeholder="password" required [(ngModel)]="credentials.password">
    <p id = "error-message">{{errorMessge}}</p>
    <button type="submit">Log in</button>
</form>
