<div id="nav">
    <ul class="nav-blocks">
        <li class="nav-item">Spring ERS</li>
        <li class="nav-item"><a class="nav-link" routerLink="/user">Home</a></li>
        <li class="nav-item nav-link" (click)="logout()">Logout</li>
    </ul>
</div>
