#nav{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10vh;
    background: black;
}
li{
    display: inline-block;
    color: white;
    margin-top: .25em;
    margin-right: 1em;
    font-size: 1.5em;
}

a{
    color: inherit;
    text-decoration: none;
}

.nav-link:hover{
    background-color: white;
    color: black;
    padding: .25em;
}

button{
    display: inline-block;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background: black;
    color: white;
    border-color: black;
    border-radius: 0;
}

button:hover{
    background-color: white;
    color: black;
}