<app-nav></app-nav>
<div id = "m-home">
<h1>Welcome to the Manager Space hub</h1>

<p>As a manager, you will be able to review all pending requests, 
    <br><br>be it from a singler individual or from the full roster of employees, 
    <br><br>as well as be able to approve and deny their reimbursements.
</p>

<div id="all-reims">
    <table class="table" id="all-reims-table">
        <thead>
            <h2>Reimbursements</h2>
            <tr>
                <th scope="col">Reimbursement Id</th>
                <th scope="col">User Id</th>
                <th scope="col">Reimbursement Amount</th>
                <th scope="col">Reimbursement Reason</th>
                <!-- //<th scope="col">Time Submitted</th>  -->
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="all-reims-body">
            <tr *ngFor="let allReim of allReims">
                <td>{{allReim.id}}</td>
                <td>{{allReim.author}}</td>
                <td>${{allReim.amount}}</td>
                <td>{{allReim.reason}}</td>
                <!-- // <td>{{allReim.submitted | date:'medium'}}</td>  -->
                <td>{{allReim.status}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br><br><br>
<div id="approveOrDeny">
    <form class="approve-or-deny" (submit)="reimStatusChange()">
        <h3>Select a Reimbursement to approve or deny</h3>
        <input type="number" id="inputReimId" name="input-reim-id" class="form-control" placeholder="00" required
        autofocus [(ngModel)]="updatedReim.rid">

        <h3>Select its Status</h3>
        <input type="number" id="inputStatus" name="input-status" class="form-control" placeholder="1 or 2" required [(ngModel)]="updatedReim.status">

        <button type="submit">Verify Reimbursement</button>
    </form>
</div>
</div>