#user-archieve{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1.25em;
    padding-bottom: 3em;
}

th,td{
    border: 1px solid black;
    padding: .5em;
}