<app-nav></app-nav>
<div id = "user-archieve">

<h1>Registered Users</h1>

<div id="all-users">
    <table class="table" id="all-users-table">
        <thead>
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Authority</th>
            </tr>
        </thead>
        <tbody id="all-users-body">
            <tr *ngFor="let allUser of allUsers">
                <td>{{allUser.id}}</td>
                <td>{{allUser.username}}</td>
                <td>{{allUser.first_name}}</td>
                <td>{{allUser.last_name}}</td>
                <td>{{allUser.user_email}}</td>
                <td>{{allUser.authority}}</td>
            </tr>
        </tbody>
    </table>
</div>

</div>
