<app-unav></app-unav>
<div id = "u-home">
    <h1>Welcome to the SpringERS  hub</h1>
    
    <p>As a user, you will be able to view all your requests, 
        <br><br>file a new reimbursement, as well as make changes to previously made requests.
    </p>
    
    <div id="all-user-reims">
        <table class="table" id="all-user-reims-table">
            <thead>
                <h2>Reimbursements</h2>
                <tr>
                    <th scope="col">Reimbursement Id</th>
                    <th scope="col">Reimbursement Amount</th>
                    <th scope="col">Reimbursement Reason</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="all-user-reims-body">
                <tr *ngFor="let userReim of userReims">
                    <td>{{userReim.id}}</td>
                    <td>${{userReim.amount}}</td>
                    <td>{{userReim.reason}}</td>
                    <td>{{userReim.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <br><br><br>
    <div id="newReim">
        <form class="new-reim" (submit)="createNewReim()">
            <h3>Fill out the below form to create a new reimbursement</h3>
            <h4>Reimbursement Amount</h4>
            <input type="number" id="inputAmount" name="input-reim-amount" class="form-control" placeholder="$00.0" required
            autofocus [(ngModel)]="newReim.amount">
    
            <h4>Reimbursement Reason</h4>
            <input type="text" id="inputReason" name="input-reim-reason" class="form-control" placeholder="For a mortgage payment" required [(ngModel)]="newReim.reason">
    
            <button type="submit">Create Reimbursement</button>
        </form>
    </div>
    </div>
