#u-home{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1.25em;
    padding-bottom: 3em;
}

th,td{
    border: 1px solid black;
    padding: .5em;
}

button[type = "submit"]{
    border: 0;
    background: 0;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid rgb(242, 242, 242);
    padding: 7px 5px;
    width: 100px;
    outline: none;
    color: black;
    border-radius: 13px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
  }